NODE_ENV="development"

## NextAuth
NEXTAUTH_SECRET=""

## MongoDB
MONGODB_URI="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/"
MONGODB_DB_NAME="<database_name>"

## Cloudinary 
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
